/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensures full height usage */
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#small-image-and-name {
  display: flex;
}

#small-image {
  height: 40px;
  width: 40px;
}

#center-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
}

#about-container {
  width: 20%;
}

#about {
  width: 100%;
  margin-bottom: 4px;
}

#icon-container {
  height: auto;
  display: flex;
  gap: 20px;
}

.icon {
  height: 40px;
  width: 40px;
  background-color: #131313;
  border-radius: 4px;
}

#image-container {
  height: 400px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 400px;
  width: 400px;
  background-color: black;
  color: #f3f3f3;
  border-radius: 50%;
}

#user-info {
  width: 20%;
  display: flex;
  flex-direction: column;

}

#footer-container {
  text-align: center;
  padding: 20px;
  max-width: 80%;
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
}

.circle {
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  border-radius: 50%;
}

